{% extends 'layout.html' %}


{% block body %}

<div class="col-md-10 col-md-offset-1"> 
    <form class="form-horizontal" action="/" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-2" for="artist">歌手名:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="artist" placeholder="Enter artist name" name="artist">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="title">曲名:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Enter song title" name="title">
            </div>
        </div>
        
        {% block status %}{% endblock %}
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">検索</button>
            </div>
        </div>
    </form>
</div>



{% endblock %}